@font-face {
  font-family: DescriptionFont;
  src: url("../fonts/Modern Serif Eroded.ttf");
}
body {
  background-color: #585858;
}
#header {
  background-color: #a6a900;
  padding: 5px;
  box-shadow: 10px 10px 10px #888888;
  #logo{
    width: 140px;
    height: 120px;
  }
  nav {
    display: inline-block;
    float: right;
    font-family: -webkit-pictograph;
    font-size: 1.5em;
    color: #118C4E;
    a{
      margin:40px;
      transition: all 0.6s ease;
      text-decoration: none;
      color: #118C4E;
    }
    a:hover {
      cursor: pointer;
      color:white;
    }
    input {
      background-color: transparent;
      border-color: #C1E1A6;
      outline: none;
      text-align: center;
      color: #118C4E;
      border-radius: 2em;
      font-size: 0.6em;
      margin-right:15px;
    }
    #search {
      margin:40px 15px 40px 40px;
    }
  }
}

#body {
  margin-top:200px;
  form {
    text-align: center;
    font-family:DescriptionFont;
    font-size: 1.5em;
    color: #a6a900;
    margin-bottom:50px;
    input {
      display: block;
      margin: 0 auto 25px auto;
      background-color: transparent;
      border-color: #a6a900;
      outline: none;
      text-align: center;
      color: #a6a900;
      border-radius: 2em;
      font-size: 1em;


    }

    button{
      display: block;
      margin: 0 auto;
      background-color: transparent;
      font-family: DescriptionFont;
      border-radius: 2em;
      font-size: 0.7em;
      color: #a6a900;
      border-color: #a6a900;
      padding:2px 30px;
      transition: all 0.6s ease;
      outline: none;
    }

    button:hover{
      cursor: pointer;
      color: black;
    }
    span {
      transition: all 0.6s ease;
    }
    span:hover {
      color: black;
    }

  }

}

@media screen and (max-width: 1140px) {
  #header nav a {
    margin: 20px;
  }
  #header nav input {
    font-size: 0.5em;
  }
}